.small_font_table {
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      font-size: 10px;
    }
  }
}

.small_font_descriptions {
  :global {
    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
      font-size: 10px;
    }
  }
}

.small_font_list {
  :global {
    .ant-list-header,
    .ant-list-item {
      font-size: 10px;
    }
  }
}

.contrast_collapse_background {
  :global {
    .ant-table-expanded-row {
      background-color: floralwhite;
    }
  }
}