.small_font_table {
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      font-size: 10px;
    }
  }
}

.small_font_descriptions {
  :global {
    .ant-descriptions-item-label {
      font-size: 10px;
      margin-left: 20px;
    }

    .ant-descriptions-item-content {
      font-size: 10px;
    }
  }
}

.small_font_list {
  :global {
    .ant-list-header,
    .ant-list-item {
      font-size: 10px;
    }
  }
}

.column_header_filter_button {
  :global {
    .column_header_filter_button {
      position: relative;
    }

    .ant-table-cell._column_header_filter_button_u4rad_24 {
      position: relative;
    }

    .ant-dropdown-trigger {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      border-radius: 0;
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
    }

    .anticon {
      margin-left: auto;
      align-items: center;
      margin-right: 5px;
      font-size: 16px;
    }

    .ant-table-filter-column {
      .ant-dropdown-trigger.ant-table-filter-trigger.active {
        color: #F2BD27;
      }
    }
  }
}